@font-face {
    font-family: 'niveau-grotesk';
    font-weight: bold;
    font-style: normal;
    src: url('NiveauGroteskBold.ttf') format('truetype');
}

@font-face {
    font-family: 'niveau-grotesk';
    font-weight: bold;
    font-style: italic;
    src: url('NiveauGroteskBold-Italic.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: normal;
    font-style: normal;
    src: url('NiveauGroteskRegular.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: normal;
    font-style: italic;
    src: url('NiveauGroteskRegular-Italic.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: 300;
    font-style: normal;
    src: url('NiveauGroteskLight.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: 300;
    font-style: italic;
    src: url('NiveauGroteskLight-Italic.ttf') format('truetype');
}


@font-face {
    font-family: 'niveau-grotesk';
    font-weight: 900;
    font-style: normal;
    src: url('NiveauGroteskBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'niveau-grotesk';
    font-weight: 900;
    font-style: italic;
    src: url('NiveauGroteskBlack-Italic.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: 500;
    font-style: normal;
    src: url('NiveauGroteskMedium.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: 500;
    font-style: italic;
    src: url('NiveauGroteskMedium-Italic.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: 200;
    font-style: normal;
    src: url('NiveauGroteskExtraLight.ttf') format('truetype');
}

@font-face {
    font-family:'niveau-grotesk';
    font-weight: 200;
    font-style: italic;
    src: url('NiveauGroteskExtraLight-Italic.ttf') format('truetype');
}