@import url('./media/font/stylesheet.css');
@import url('./media/Paralucent/stylesheet.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'paralucent';
}

a {
    text-decoration: none;
    color: black;
}